/* Typography and colors for main elements */
/*****************************************************************************/
:root {
  /* Colors */
  --color-dark: #372f2c;
  --color-medium: #dcceb4;
  --color-light: #fff7f7;
  --color-primary: #891717;
  --color-muted: #6b6565;

  /* Type scale calculated using https://utopia.fyi/type/calculator */
  --size--1: clamp(0.94rem, calc(0.90rem + 0.18vw), 1.04rem);
  --size-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --size-1: clamp(1.41rem, calc(1.35rem + 0.27vw), 1.56rem);
  --size-2: clamp(1.76rem, calc(1.69rem + 0.34vw), 1.95rem);
  --size-3: clamp(2.20rem, calc(2.11rem + 0.42vw), 2.44rem);
  --size-4: clamp(2.75rem, calc(2.64rem + 0.53vw), 3.05rem);
  --size-5: clamp(3.43rem, calc(3.30rem + 0.66vw), 3.82rem);

  /* Space scale calculated using https://utopia.fyi/space/calculator/ */
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.10vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.10vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.21vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.63rem + 0.31vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.17rem + 0.42vw), 2.50rem);
  --space-xl: clamp(3.38rem, calc(3.25rem + 0.63vw), 3.75rem);
  --space-2xl: clamp(4.50rem, calc(4.33rem + 0.83vw), 5.00rem);
  --space-3xl: clamp(6.75rem, calc(6.50rem + 1.25vw), 7.50rem);
  --space-4xl: clamp(10.13rem, calc(9.75rem + 1.88vw), 11.25rem);
  --space-5xl: clamp(15.75rem, calc(15.1413rem + 3.0435vw), 17.5rem);

  /* Spaces and other sizes */
  --gutter: var(--space-xs);
  --block-border: 0.35em;
}

body {
  background: var(--color-primary);
  color: var(--color-light);
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: var(--size-1);
  line-height: 1.6;
}

a {
  color: var(--color-light);
  text-decoration: underline var(--color-medium) 2px;
}

a:hover {
  color: var(--color-medium);
}

h1,
h2,
h3 {
  font-weight: 800;
  line-height: 1.1;
}

h1 {
  font-size: var(--size-5);
}

h2 {
  font-size: var(--size-4);
}

h3 {
  font-size: var(--size-2);
}

header, footer {
  color: var(--color-light);
  font-size: var(--size-0);
}

header {
  background: var(--color-primary);
  padding: var(--gutter);
}

header img {
  height: 40px;
  width: auto;
}

footer {
  background: var(--color-primary);
  padding: var(--space-xl) var(--gutter);
  line-height: 2;
}

footer a {
  color: var(--color-light);
}

footer a:hover {
  color: var(--color-medium);
}

nav a {
  color: var(--color-light);
}

section {
  padding: var(--space-4xl) 0;
}

figure > img {
  box-shadow: 0px 0px 10px 1px var(--color-extramuted);
}

figcaption {
  font-size: var(--size--1);
  color: var(--color-muted);
  text-align: center;
}

figcaption a {
  color: var(--color-muted);
}

figcaption a:hover {
  color: var(--color-primary);
}

img {
  width: 100%;
}

blockquote {
  border-left: var(--block-border) solid var(--color-muted);
  color: var(--color-muted);
  padding: var(--gutter);
}


/* Flow and rythm */
/*****************************************************************************/
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

:is(h1, h2, h3, figure) {
  --flow-space: 1.5em;
}

/* Flow elements inside these containers automatically */
blockquote > * + *, figure > * + *, .callout > * + * {
  margin-block-start: 0.5em;
}


/* Blocks */
/*****************************************************************************/
.content {
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.content-wide {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  width: 100%;
  background-image: url(../images/banner.svg);
  background-size: cover;
  background-position: top right;
  color: var(--color-light);
  line-height: 1.25;
  --flow-space: 2em;
}

.callout {
  background-color: var(--color-lightish);
  border-left: var(--block-border) solid var(--color-primary);
  padding: var(--gutter);
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gutter) var(--space-m);
  --flow-space: 2em;
}

.col {
  flex: 1;
  min-width: 300px;
}

.negative-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, clamp(5rem, 50%, 15rem));
  transform: scale(83.33%);
  transform-origin: center;
}

.negative-grid > * {
  transform: scale(120%);
  transform-origin: center;
}

/* Utilities */
/*****************************************************************************/
.list-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gutter);
  line-height: 1;
  padding-left: 0;
}

.list-center {
  justify-content: center;
}

.spread {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--gutter);
}

.button {
  background-color: var(--color-light);
  border-radius: 0.2em;
  color: var(--color-primary);
  padding: var(--space-xs);
  text-decoration: none;
}

.button:hover {
  background-color: var(--color-medium);
  color: var(--color-dark);
}

.avatar {
  border-radius: 100%;
  border: 0.25em solid var(--color-light);
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* Single-style utilities */
/*****************************************************************************/
.flow-small {
  --flow-space: 0.5em;
}

.flow-large {
  --flow-space: 2.5em;
}

.extra-space {
  margin-top: var(--space-2xl);
}

.font-small {
  font-size: var(--size-0);
}

.font-normal {
  font-size: var(--size-0);
}

.font-large {
  font-size: var(--size-1);
}

.font-display {
  font-family: "Gloria Hallelujah", sans-serif;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-muted {
  color: var(--color-muted);
}

.text-muted a {
  color: var(--color-muted);
}

.text-muted a:hover {
  color: var(--color-primary);
}

.background-light {
  background-color: var(--color-medium);
  color: var(--color-dark);
}

.background-light a {
  color: var(--color-dark);
}
